<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>亚洲新歌榜投票监控</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

</head>
<body>

<div id="vote-container">
    <h1>涨幅</h1>
    <div class="button-group-container">
        <input type="checkbox" name="display" value="吴宣仪"/>吴宣仪
        <input type="checkbox" name="display" value="周洁琼"/>周洁琼
        <input type="checkbox" name="display" value="孟美岐"/>孟美岐
    </div>
    <div id="inc-chart-container">
        <svg id="inc-chart" width="960" height="500"></svg>
    </div>
</div>
<h1>实时票数</h1>
</body>
</html>